:root {
    --homeColor: #7b27ca;
    --awayColor: #2cb5df;
}

html {
    font-family: 'Franklin Gothic Medium';
    padding: 2.5vh 2.5vw;
    width: fit-content;
    height: fit-content;
    overflow-x: hidden;
    margin: 0;
    background-color: rgb(115, 115, 115);
}

body {
    width: fit-content;
    height: fit-content;
    margin: 0;
}

.Home.Fill {
    fill: var(--homeColor);
}

.Home.Stroke {
    stroke: var(--homeColor);
}

.Away.Fill {
    fill: var(--awayColor);
}

.Away.Stroke {
    stroke: var(--awayColor);
}