body {
    margin: 0;
    overflow: hidden;
}

.game-container {
    display: block;
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
}

#top-bar {
    position: relative;
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#team1-players {
    height: 100%;
    flex-grow: 1;
    display: grid;
    grid-template-columns: max-content;
    justify-content: center;
}

#team2-players {
    height: 100%;
    flex-grow: 1;
    display: grid;
    grid-template-columns: max-content;
    justify-content: center;
}

#team1-players div {
    background-color: red;
    color: black;
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 5px;
    border: 3px solid;
    border-radius: 10px;
}

#team2-players div {
    background-color: blue;
    color: black;
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 5px;
    border: 3px solid;
    border-radius: 10px;
}

.player-name p {
    font-size: 1.3em;
    padding-left: 25px;
    padding-right: 25px;
    margin: auto;
}

#game-bar {
    height: 80%;
    flex-grow: 5;
    border: 3px solid;
    border-radius: 20px;
    background-image: linear-gradient(to right, red, blue);
    color: black;

    display: flex;
    flex-direction: row;
}

#game-info {
    color: white;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    margin: 20px;
    border: 3px solid;
    border-radius: 20px;
    align-items: center;
}

#game-time {
    flex-grow: 0.5;
    padding-top: 2px;
    font-size: 1.4em;
}

#game-score {
    flex-grow: 2;
    width: 80%;
    display: flex;
    flex-direction: row;
}

#team1-score {
    flex-grow: 4;
    font-size: 2.5em;
    text-align: center;
}

#team2-score {
    flex-grow: 4;
    font-size: 2.5em;
    text-align: center;
}

#score-seperator {
    flex-grow: 1;
    font-size: 2.5em;
    text-align: center;
}

.team-info {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding-left: 10px;
    padding-right: 10px;
}

.team-info img {
    max-width: 256px;
    aspect-ratio: 1;
}

.team-info p {
    align-items: center;
    width: fit-content;
    font-size: 2em;
    margin: auto;
    flex-grow: 2;
}

.team1-stats-box {
    height: 30%;
    width: 15%;
    background-color: red;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    font-family: Arial, sans-serif;

    /* Positioning */
    position: fixed;
    bottom: 50px;
    left: 50px;
}

.team2-stats-box {
    height: 30%;
    width: 15%;
    background-color: blue;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    font-family: Arial, sans-serif;

    /* Positioning */
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.stats-header {
    font-size: 1.6em;
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px;
}

.follow-player-name {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 5px;
}

.divider {
    border-top: 4px solid black;
    margin: 5px 0;
}

.stats-divider {
    border-top: 2px solid black;
    margin: 1px 0;
}

.stats {
    font-size: 1.4em;
    text-align: left;
    margin-left: 10px;
}

.stats p {
    margin: 10px 0;
}