:root {
    --homeColor: #7b27ca;
    --awayColor: #2cb5df;
}

html {
    font-family: 'Franklin Gothic Medium';
    padding: 2.5vh 2.5vw;
    width: 95vw;
    height: 95vh;
    overflow: hidden;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
}

text {
    text-anchor: middle;
    dominant-baseline: middle;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

image {
    text-anchor: middle;
    dominant-baseline: middle;
}

.fit {
    display: inline-block;
    white-space: nowrap;
}

.top {
    display: flex;
    flex-direction: row;
    gap: 5vw;
}

.middle {
    position: absolute;
    bottom: 25vh;
    left: 25vw;
}

.middle svg {
    width: 50vw;
    height: auto;
}

.middle text {
    fill: white;
}

.bottom-left {
    position: absolute;
    bottom: 2.5vh;
    left: 2.5vw;
}

.bottom-left svg {
    width: 12vw;
    height: auto;
}

.bottom-left text {
    fill: white;
    stroke: black;
    stroke-width: 1;
}

.bottom-right {
    position: absolute;
    bottom: 2.5vh;
    right: 2.5vw;
}

.bottom-right svg {
    width: 12vw;
    height: auto;
}

.bottom-right text {
    fill: white;
    stroke: black;
    stroke-width: 1;
}

.players-container {
    width: 10vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 5px;
}

.player-name svg {
    width: 10vw;
    height: auto;
}

.player-name text {
    fill: white;
}

.scoreboard-area {
    height: auto;
    width: 65vw;
}

/* Color */
.player-name-home-color {
    stroke: var(--homeColor);
}

.player-name-away-color {
    stroke: var(--awayColor);
}

.scoreboard-home-color {
    fill: var(--homeColor);
}

.scoreboard-away-color {
    fill: var(--awayColor);
}

.player-stats-home-color {
    fill: var(--homeColor)
}

.player-stats-home-gradient {
    stop-color: var(--homeColor);
}

.player-stats-away-color {
    fill: var(--awayColor)
}

.player-stats-away-gradient {
    stop-color: var(--awayColor);
}