html {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgba(255, 2552, 255, 0.3);
    background-image: url(../Assets/Images/backgroundImage.png);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    margin: 0;
}

h1 a {
    text-decoration: none;
    font-style: none;
    color: black;
}

#title {
    font-size: 2.8em;
}

#info {
    font-size: 1.5em;
}

.seperator {
    border: 2px double black;
    margin: 2.5vh 0;
}

.container {
    background-color: rgba(255, 2552, 255, 1);
    border-radius: 5px;
    box-shadow: 0px 0px 20px 1px rgb(173, 173, 173);
    margin: 5px auto;
    padding: 5px 10px;
    width: 50vw;
    height: auto;
}

.description {
    font-size: 1.2em;
    margin: 0;
}

li {
    font-size: 1.2em;
    margin: 0;
}

.questions-container .seperator {
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin: 2.5vh 0;
}

.footer {
    margin: 2.5vh auto;
    width: fit-content;
    color: darkgray;
    font-size: 1.1em;
}